---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div class="nav-left">
      <Menu />
    </div>
    <div class="nav-center">
      <Navigation />
    </div>
    <div class="nav-right">
      <ThemeIcon />
    </div>
  </nav>
</header>

